<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Update Scheme Structure Type</h2>
            </div>
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                <!--statement -->
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">

                    <form [formGroup]="ssForm">
                        <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                            <div class="col-span-3 flex flex-col items-left justify-left">
                                <mat-form-field>
                                    <mat-label>Scheme Number </mat-label>
                                    <mat-select [formControlName]="'scheme_code'"
                                        [placeholder]="'Select Scheme Number '" required>
                                        <mat-option *ngFor="let opt of schemesData" [value]="opt.code">
                                            {{opt.scheme_number}} </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>


                            <div class="col-span-3 flex flex-col items-left justify-left">
                                <mat-form-field>
                                    <mat-label>Structure Type </mat-label>
                                    <mat-select [formControlName]="'structure_type'"
                                        [placeholder]="'Select Structure Type '" required multiple>
                                        <mat-option *ngFor="let opt of structureData" [value]="opt.code">
                                            {{opt.name_en}} ({{opt.name_mr}}) </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="flex ">
                            <button class="px-8" mat-flat-button [color]="'primary'" type="button" (click)="send()">
                                Submit
                            </button>
                            <button class="px-8 mx-2" mat-flat-button [color]="'primary'" type="button"
                                [routerLink]="['/admin/scheme-structure-type/list']">
                                Back
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>