<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-6">
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                   <!--statement -->
               <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">   
                
                

                  <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                    
                      <div class="relative flex flex-col flex-auto">
                        <h2 class="text-3xl font-semibold tracking-tight leading-8">Society Details</h2>
      
                      </div>
                      
                      <div class="relative flex flex-col flex-auto ">
                          
                        <button class="px-4"
                            mat-raised-button 
                            [color]="'primary'"
                            >
                            <span class="ml-2"  [routerLink]="['/admin/societies/add-new']"> Add Society</span>
                          
                        </button>
                         
                      </div>
                  </div>

                <mat-form-field appearance="standard">
                  <mat-label>Search In:</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Start typing ..." #input>
                </mat-form-field>
                <div class="mt-2 mb-2 "></div>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                        <div class="mt-4 mb-4 "></div>
                      
                        <ng-container matColumnDef="taluka_name">
                          <th mat-header-cell *matHeaderCellDef> Taluka Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.taluka_name_en}} ({{element.taluka_name_mr}})</td>
                        </ng-container>
                      
                          
                        <!--  Sector/Village Column -->
                        <ng-container matColumnDef="taluka_code">
                            <th mat-header-cell *matHeaderCellDef> Taluka Code</th>
                            <td mat-cell *matCellDef="let element"> {{element.taluka_code}} </td>
                         </ng-container>

                      
                          <ng-container matColumnDef="village_code">
                              <th mat-header-cell *matHeaderCellDef> Village Code</th>
                              <td mat-cell *matCellDef="let element"> {{element.village_code}} </td>
                          </ng-container>

                          <ng-container matColumnDef="village_name">
                            <th mat-header-cell *matHeaderCellDef> Village/Sector Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.village_name_en}} ({{element.village_name_mr}})</td>
                          </ng-container>

                        <ng-container matColumnDef="gpsc_code">
                          <th mat-header-cell *matHeaderCellDef> Gpsc Code</th>
                          <td mat-cell *matCellDef="let element"> {{element.gpsc_code}} </td>
                      </ng-container>

                      <ng-container matColumnDef="gpsc_number">
                        <th mat-header-cell *matHeaderCellDef> GPSC Number</th>
                        <td mat-cell *matCellDef="let element"> {{element.gpsc_number}} </td>
                    </ng-container> 
                        
                    <ng-container matColumnDef="scheme_code">
                      <th mat-header-cell *matHeaderCellDef> Scheme Code</th>
                      <td mat-cell *matCellDef="let element"> {{element.scheme_code}} </td>
                  </ng-container>

                  <ng-container matColumnDef="scheme_number">
                    <th mat-header-cell *matHeaderCellDef> Scheme Number</th>
                    <td mat-cell *matCellDef="let element"> {{element.scheme_number}} </td>
                </ng-container>

                <ng-container matColumnDef="code">
                  <th mat-header-cell *matHeaderCellDef> Code</th>
                  <td mat-cell *matCellDef="let element"> {{element.code}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Society Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name_en}} ({{element.name_mr}})</td>
              </ng-container>

    
                     <!-- Action Column-->
           
                        <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef> Actions </th>
                          <td mat-cell *matCellDef="let row">
                           
                            <button mat-icon-button class="iconbutton">
                              <mat-icon [routerLink]="['/admin/societies/edit/', row.code]">edit</mat-icon>
                            </button>
    
                            <button mat-icon-button class="iconbutton" (click)="openComposeDialogDelete(row.code)" color="warn">
                              <mat-icon>delete</mat-icon>
                            </button> 
                          </td>
                        </ng-container>
                       
                        
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>

                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
                      </mat-paginator>
                            
                <div class="mt-2 mb-2 "></div>
               </div>
             </div>
         </div>
    </div>
</div>

    
           
            
       
  

