<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Heirship Transfer Application </h2>
            </div>    
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                <div class="relative flex flex-col flex-auto bg-card rounded-2xl shadow overflow-hidden">   
                    <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                        <div class="timeline-step timeline-step-done">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                                
                                <p class="h6 mt-3 mt-lg-3 mb-3 mb-lg-3">Select Property</p>
                            </div>
                        </div>
                        <div class="timeline-step timeline-step-done">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                                
                                <p class="h6 mt-3 mt-lg-3 mb-3 mb-lg-3">Application</p>
                            </div>
                        </div>
                        <div class="timeline-step timeline-step-done">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2005">
                                
                                <p class="h6 mt-3 mt-lg-3 mb-3 mb-lg-3">Payment</p>
                            </div>
                        </div>
                        <div class="timeline-step timeline-step-active">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2010">
                               
                                <p class="h6 mt-3 mt-lg-3 mb-3 mb-lg-3">Reciept</p>
                            </div>
                        </div>
                        <div class="timeline-step mb-0">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                                
                                <p class="h6 mt-3 mt-lg-3 mb-3 mb-lg-3">Status</p>
                            </div>
                        </div>
                    </div>
                    <div style="border: 3px solid #ad2331;padding:10px;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
                        <!-- <mat-icon
                                class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                                [svgIcon]="'heroicons_outline:check-circle'"></mat-icon> -->
                        <div class="absolute  right-0 w-24 h-24 -m-6">
                    
                            <mat-icon
                                class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                                [svgIcon]="'heroicons_outline:check-circle'">
                            </mat-icon>
                        </div> 
                
                        <p class="text-xl font-semibold tracking-tight leading-8 truncate">
                           
                            Your payment fee for heirship transfer application has been successfully completed.
                        </p>
                       
        
                      <div class="mt-4 mb-4 "></div>
                        <div class="flex ">
                           
                            <button
                        class="px-8"
                        mat-flat-button
                        [color]="'primary'"
                        type="button"
                        [routerLink]="['/citizens/heirship-application/preview/'+application_code+'/transfer_fees']"
                        >
                        View/Download Reciept
                    </button>
                    &nbsp; &nbsp;
                    &nbsp; &nbsp;
                    <button
                        class="px-8"
                        mat-flat-button
                        [color]="'primary'"
                        type="button"
                        [routerLink]="['/citizens/heirship-application/schedule-appointment/'+application_code]"
                        >
                        Schedule Appointment
                    </button>
                        </div>
                        <div class="mt-4 mb-4 "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
