<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-6">
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                   <!--statement -->
               <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">   
                
                

                  <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                    
                      <div class="relative flex flex-col flex-auto">
                        <h2 class="text-3xl font-semibold tracking-tight leading-8">Change Mobile Number</h2>
      
                      </div>       
                  </div>
                  <div class="mt-2 mb-2 "></div>

                <form
                [formGroup]="mobileForm">
                
                <div class="flex flex-col sm:flex-row  w-full max-w-xs sm:max-w-none">
                       
                        <mat-form-field class="fuse-mat-no-subscript w-2/3 pr-4">
                            <mat-label>New Mobile Number </mat-label>
                            <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:phone'"
                            matPrefix></mat-icon>
                            <input
                                matInput
                                maxlength="10"
                                minlength="10"
                                [formControlName]="'newMobile'"
                                (keypress)="keyPress($event)"
                                [placeholder]="'Enter Mobile Number '"
                                >  
                                <mat-error *ngIf="mobileForm.get('newMobile').hasError('required')">
                                    Mobile number is required
                                </mat-error>
                                <mat-error *ngIf="mobileForm.get('newMobile').hasError('number')">
                                    Please enter a valid Mobile number
                                </mat-error>   
                        </mat-form-field>

                    <div class="fuse-mat-no-subscript w-2/3 pr-4 p-6">
                        <button       
                        mat-stroked-button
                        *ngIf="!showResend" 
                       (click)="showResend=!showResend"> 
                    Get OTP
                    </button>
                    &nbsp;&nbsp;
                    
                    <button 
                        mat-stroked-button
                        type="button">
                        Resend OTP
                    </button>
                    <!-- <div *ngIf="showMyContainer">
                         your code
                    </div> -->
                    </div>
                    
                </div>
               
                <div class="mt-2 mb-2 "></div>
                   
                <div class="flex flex-col sm:flex-row  w-full max-w-xs sm:max-w-none">
                    
                        <mat-form-field class="fuse-mat-no-subscript w-2/3 pr-4">
                            <mat-label>Enter OTP </mat-label>
                            <input
                                [formControlName]="'otp'"
                                matInput>
                        </mat-form-field>
                    
                    <div class="fuse-mat-no-subscript w-2/3 pr-4">
                        
                    </div>
                </div>
                <div class="mt-3 mb-3 "></div>
                
                <div class="flex flex-col sm:flex-row  w-full max-w-xs sm:max-w-none">
                        <mat-form-field class="fuse-mat-no-subscript w-2/3 pr-4">
                            <mat-label>Enter password</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:key'"
                                matPrefix></mat-icon>
                            <input
                                [formControlName]="'password'"
                                type="password"
                                matInput>
                        </mat-form-field>
                       
                    </div>
                
            </form>   
                <div class="mt-4 mb-4 "></div>
                
                <div class="flex items-center ">
                    <button
                        mat-stroked-button
                        type="button"
                        [routerLink]="['/desk4/settings']">
                        Cancel
                    </button>
                    <button
                        class="ml-4"
                        mat-flat-button
                        type="button"
                        [color]="'primary'">Save
                    </button>
                </div>
                            
                <div class="mt-2 mb-2 "></div>
               </div>
             </div>
         </div>
    </div>
</div>

    
           
            
       
  

