<div class="grid grid-cols-1 xl:grid-cols-2 w-full">
    <div class="grid sm:grid-flow-col xl:grid-flow-row">
        <div class="relative flex flex-col flex-auto bg-card shadow overflow-hidden">
            <div style="text-align: center;background: #c1c1c1;" class="text-3xl font-semibold tracking-tight leading-8">Property Transfer Document
            </div>       
            <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                <div class="timeline-step timeline-step-done" style="margin-top: 3px;">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                        <p class="h6 mt-2 mt-lg-3 mb-2 mb-lg-3">01. Application</p>
                    </div>
                </div>
                <div class="timeline-step  timeline-step-done"  style="margin-top: 3px;">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                        <p class="h6 mt-2 mt-lg-3 mb-2 mb-lg-3">02. Documents</p>
                    </div>
                </div>
               
                
                <div class="timeline-step timeline-step-active mb-0"  style="margin-top: 3px;">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                        <p class="h6 mt-2 mt-lg-3 mb-2 mb-lg-3">03. Actions</p>
                    </div>
                </div>
            </div>
            <div style="border: 3px solid #ad2331;padding:0px;">

                <mat-grid-list cols="3" rowHeight="6:1">
                    <mat-grid-tile>
                        Property ID&nbsp;-&nbsp;<b>{{pta.uprn}}</b>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        Application Number&nbsp;-&nbsp;<b>{{pta.application_number}}</b>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        Application Date&nbsp;-&nbsp;<b>{{pta.application_date}}</b>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        Owner Name&nbsp;-&nbsp;<b>{{pta.owner_name}}</b>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        Owner Mobile&nbsp;-&nbsp;<b>{{pta.owner_mobile}}</b>
                    </mat-grid-tile>
                    
                </mat-grid-list>

                <div class="mt-1 "></div>
                <mat-grid-list cols="2" rowHeight="3:2">
                    <mat-grid-tile>
                        <div>
                            <form [formGroup]="approveForm">
                              <div class="text-xl font-semibold">Approve Application</div><br/><br/>
                                <!--<div class="flex">
                                <mat-form-field class="fuse-mat-no-subscript flex-auto w-3/1" >
                                  <input type="time"
                                      matInput
                                      [formControlName]="'schedule_time'"
                                      [placeholder]="'Enter Time for Document Appointment'"
                                      required>
                                  <mat-icon
                                      class="icon-size-5"
                                      matPrefix
                                      [svgIcon]="'access_time_filled'"></mat-icon>
                              </mat-form-field> 
                              </div>-->
                  
                  
                             
                  
                              <div class="flex mt-8" style="text-align: center;">
                                  <button class="px-8" mat-flat-button [color]="'primary'" type="button"
                                  (click)="sendApproval()" >
                                  <!-- [disabled]="approveForm.invalid"  -->
                                      Approve
                                  </button>
                                  
                  
                              </div>
                            </form>
                          </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div>
                            <form [formGroup]="rejectForm">
                              <div class="text-xl font-semibold">Raise Query & Send Back Application</div>
                              
                              <div class="flex">
                                  <mat-form-field class="fuse-mat-textarea flex-auto">
                                      <textarea
                                          matInput
                                          [formControlName]="'reason'"
                                          [placeholder]="'Enter the Query'"
                                          [rows]="5"></textarea>
                                      <mat-icon
                                          class="icon-size-5"
                                          matPrefix
                                          [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                  </mat-form-field>
                              </div>
                  
                  
                             
                  
                              <div class="flex" style="text-align: center;">
                                  <button class="px-8" mat-flat-button [color]="'primary'" type="button" 
                                  (click)="sendRejection()">
                                  <!-- [disabled]="rejectForm.invalid"  -->
                                      Send Query
                                  </button>
                                 
                  
                              </div>
                            </form>
                          </div>
                    </mat-grid-tile>
                </mat-grid-list>
                
                
                <div class="mt-4 mb-4 "></div>   
                <div> 
                    <button style="float: left;" class="px-8 mx-2" mat-flat-button [color]="'primary'" type="button"
                    [routerLink]="['/dy-commissioner/view-appointment-transfer-document/'+ application_id]">
                    &lArr; Documents 
                    </button>

                   

                    
                </div>
                <div style="clear:both;">&nbsp;</div>
            </div>
            
        </div>
    </div>
</div>