<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Update User</div>
        <button
            mat-icon-button
            (click)="saveAndClose()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
  
    <!-- List form -->
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="userForm">
  
        <!-- User Id -->
        <mat-form-field>
            <mat-label>User Id</mat-label>
            <input
                matInput
                [formControlName]="'userId'">
           
        </mat-form-field>
  
              <!-- User Name -->
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <mat-icon
                 class="icon-size-5"
                 matPrefix
                 [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            <input
                matInput
                [formControlName]="'userName'">
        </mat-form-field>
  
        <!-- Address -->
        <mat-form-field >
            <mat-label>Address</mat-label>
            <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
               <input
                matInput
                [formControlName]="'address'"> 
               
        </mat-form-field>
  
        <!-- Email Id -->
        <mat-form-field >
            <mat-label>Email Id</mat-label>  
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:mail'"
                matPrefix></mat-icon>
            <input
            matInput
            [formControlName]="'emailId'"> 
        </mat-form-field>
        
        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Discard -->
                <button
                    class="ml-auto sm:ml-0"
                    mat-stroked-button
                    (click)="discard()">
                    Cancle
                </button>
                <!-- Save as draft -->
                <button
                    class="sm:mx-3"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="saveAsDraft()">
                    <span>Save </span>
                </button>
               
            </div>
        </div>
    </form>
  </div>
  