<div class="grid grid-cols-1 xl:grid-cols-2 w-full">
    <div class="grid sm:grid-flow-col xl:grid-flow-row">
        <div class="relative flex flex-col flex-auto bg-card shadow overflow-hidden">
            <div style="text-align: center;background: #c1c1c1;" class="text-3xl font-semibold tracking-tight leading-8">Property Transfer Document
            </div>       
            <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                <div class="timeline-step timeline-step-done" style="margin-top: 3px;">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                        <p class="h6 mt-2 mt-lg-3 mb-2 mb-lg-3">01. Application</p>
                    </div>
                </div>
                <div class="timeline-step  timeline-step-active"  style="margin-top: 3px;">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                        <p class="h6 mt-2 mt-lg-3 mb-2 mb-lg-3">02. Documents</p>
                    </div>
                </div>
              
                <div class="timeline-step mb-0"  style="margin-top: 3px;">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                        <p class="h6 mt-2 mt-lg-3 mb-2 mb-lg-3">03. Actions</p>
                    </div>
                </div>
            </div>
            <div style="border: 3px solid #ad2331;padding:0px;">

                <mat-grid-list cols="3" rowHeight="6:1">
                    <mat-grid-tile>
                        Property ID&nbsp;-&nbsp;<b>{{pta.uprn}}</b>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        Application Number&nbsp;-&nbsp;<b>{{pta.application_number}}</b>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        Application Date&nbsp;-&nbsp;<b>{{pta.application_date}}</b>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        Owner Name&nbsp;-&nbsp;<b>{{pta.owner_name}}</b>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        Owner Mobile&nbsp;-&nbsp;<b>{{pta.owner_mobile}}</b>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        Appointment Date&nbsp;:&nbsp;<b>{{pta.appointment_date}}</b>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        Appointment Time Slot&nbsp;:&nbsp;<b>{{pta.appointment_time}}</b>
                    </mat-grid-tile>
                </mat-grid-list>

                <div class="mt-4 mb-4 "></div>
                <div class="text-xl ml-6 font-semibold">Lessee Documents/भाडेपट्टा धारकाचची कागदपत्रे </div>
                <div class="mt-2 mb-2 "></div>
                <mat-grid-list cols="3" rowHeight="8:1">
                    <mat-grid-tile>
                        <a href="{{pta.lezy_photo}}" style="color: blue;" target="_blank"><b><u>Photo of Lessee/विक्रेत्याचे फोटो</u></b></a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <b><a href="{{pta.lezy_aadhar_card}}" style="color: blue;" target="_blank">Aadhaar card of Lessee/विक्रेत्याचे आधार कार्ड</a></b>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <b><a href="{{pta.lezy_pan_card}}" style="color: blue;" target="_blank">Pan card of Lessee/विक्रेत्याचे पॅन कार्ड</a></b>
                    </mat-grid-tile>
                </mat-grid-list>

                <div class="mt-4 mb-4 "></div>
                <div class="text-xl ml-6 font-semibold">Property Documents/मिळकतीची कागदपत्रे</div>
                <div class="mt-2 mb-2 "></div>
                <mat-grid-list cols="3" rowHeight="9:1">
                    
                    <mat-grid-tile>
                        <a href="{{pta.lease_agreement}}" style="color: blue;" target="_blank"><b><u>Lease Agreement/मूळ भाडे पट्टा करार</u></b></a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a href="{{pta.guarantee_letter}}" style="color: blue;" target="_blank"><b><u>Guarantee Letter/हमीपत्र</u></b></a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a href="{{pta.allotment_certificate}}" style="color: blue;" target="_blank"><b><u>Allotment Certificate/नियत वाटप पत्र</u></b></a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a href="{{pta.transfer_letter}}" style="color: blue;" target="_blank"><b><u>Transfer Letter/हस्तान्तरण पत्र</u></b></a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a href="{{pta.mou_document}}" style="color: blue;" target="_blank"><b><u>MOU/विक्रेता आणि खरेदीदार यांच्यात सामंजस्य करार</u></b></a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a href="{{pta.society_noc}}" style="color: blue;" target="_blank"><b><u>Society NOC/सोसायटी ना हरकत प्रमाणपत्र</u></b></a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a href="{{pta.bank_noc}}" style="color: blue;" target="_blank"><b><u>Bank NOC/बँक ना हरकत प्रमाणपत्र</u></b></a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a href="{{pta.loan_noc}}" style="color: blue;" target="_blank"><b><u>Loan/Mortgage NOC/कर्ज,तारण ना हरकत प्रमाणपत्र</u></b></a>
                    </mat-grid-tile>
                </mat-grid-list>
                  
                <div class="mt-4 mb-4 "></div>
                <div class="text-xl ml-6 font-semibold">Purchaser Documents/खरीददारांची कागदपत्रे</div>
                <div class="mt-2 mb-2 "></div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-3" matSort>
                    <ng-container matColumnDef="srno">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element; let i = index;">  {{i+1}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="purchaser_name">
                        <th mat-header-cell *matHeaderCellDef>Purchaser Name</th>
                        <td mat-cell *matCellDef="let element">{{element.first_name}}&nbsp;{{element.middle_name}}&nbsp;{{element.last_name}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="documents">
                    <th mat-header-cell *matHeaderCellDef>Documents/कागदपत्रे</th>
                    <td mat-cell *matCellDef="let element">
                        <a href="{{element.photo}}" style="color: rgb(62, 144, 167);;" target="_blank"><b><u>Photo/फोटो</u></b></a>
                        &nbsp;|&nbsp;
                        <a href="{{element.aadhar_card}}" style="color: rgb(62, 144, 167);;" target="_blank"><b><u>Aadhaar card/आधार कार्ड</u></b></a>
                        &nbsp;|&nbsp;
                        <a href="{{element.pan_card}}" style="color: rgb(62, 144, 167);" target="_blank"><b><u>Pan card/पॅन कार्ड</u></b></a>
                    </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <div class="mt-4 mb-4 "></div>
                <div class="text-xl ml-6 font-semibold"><a href="{{pta.receipt_file_name}}" style="color: rgb(62, 144, 167);" target="_blank">Application Fee Payment Receipt/मालमत्ता हस्तांतरण अर्ज शुल्क पावती</a></div>
   
                <div class="mt-4 mb-4"></div>
                <div class="text-xl ml-6 font-semibold"><a href="{{pta.sthalpani_ahval_file_name}}" style="color: rgb(62, 144, 167);" target="_blank">Sthalpahani Ahval/अनधिकृत बांधकाम अभिप्राय </a></div>
                <div class="mt-2 mb-4"></div>
                
                <div class="mt-4 mb-4"></div>
                <div class="text-xl ml-6 font-semibold"><a href="{{pta.verification_sheet_file_name}}" style="color: rgb(62, 144, 167);" target="_blank">Application Verification Sheet/सदिनका हस्तांतरणासाठी ओळखपडताळणी</a></div>
                <div class="mt-2 mb-4"></div>                  
                <div class="mt-4 mb-4 "></div>
                <div class="text-xl ml-6 font-semibold">Attendee's Photos/प्रत्यक्ष पडताळणी करताना उपस्थितांचे फोटो</div>
                <div class="mt-2 mb-2 "></div>
                <table mat-table [dataSource]="dataSourceAttendee" class="mat-elevation-z8 mt-3" matSort>
                    <ng-container matColumnDef="srno">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element; let i = index;">  {{i+1}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="attendee_name">
                        <th mat-header-cell *matHeaderCellDef>Attendee Name</th>
                        <td mat-cell *matCellDef="let element">{{element.first_name}}&nbsp;{{element.middle_name}}&nbsp;{{element.last_name}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="photo">
                    <th mat-header-cell *matHeaderCellDef>Photo/फोटो</th>
                    <td mat-cell *matCellDef="let element">
                        <a href="{{element.photo}}" style="color: rgb(62, 144, 167);" target="_blank"><b><u>Photo/फोटो</u></b></a>
                    </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsAttendee"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsAttendee;"></tr>
                </table>
                

                
                <div class="mt-4 mb-4"></div>
                <div class="text-xl ml-6 font-semibold"><a href="{{pta.calculation_sheet_file_name}}" style="color: rgb(62, 144, 167);" target="_blank">Calculation Sheet</a></div>
                <div class="mt-2 mb-4"></div>  

                
                

                <div> 
                    <button style="float: left;" class="px-8 mx-2" mat-flat-button [color]="'primary'" type="button"
                    [routerLink]="['/tahsildar/view-calculation-transfer-application/'+ application_id]">
                    &lArr; Application 
                    </button>

                    <button style="float: right;" class="px-8 mx-2" mat-flat-button [color]="'primary'" type="button"
                    [routerLink]="['/tahsildar/view-calculation-transfer-action/'+ application_id]">
                        Actions &rArr;
                    </button>
                    
                </div>
                <div style="clear:both;">&nbsp;</div>
            </div>
            
        </div>
    </div>
</div>