<div class="flex flex-col flex-auto w-full">
  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-6">
      <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
        <!--statement -->
        <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">
          <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">

            <div class="relative flex flex-col flex-auto">
              <h2 class="text-3xl font-semibold tracking-tight leading-8">PMRDA Properties</h2>

            </div>

            <div class="relative flex flex-col flex-auto ">

              <button class="px-4" mat-raised-button [color]="'primary'" [routerLink]="['/admin/properties/add-new']">
                <span class="ml-2"> Add Properties</span>

              </button>

            </div>
          </div>

          <div class="mt-2 mb-2"></div>

          <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">

            <div class="mt-2 mb-2">
              <mat-accordion class="example-headers-align" multi="false">
                <mat-expansion-panel style="background: #bac0d0 !important;" #first expanded>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Search By Sadnika/Dukan Number
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <form [formGroup]="horizontalStepperForm">
                    <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                      <div class="col-span-1 flex flex-col items-left justify-left">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                          <mat-label> Taluka</mat-label>
                          <mat-select [formControlName]="'taluka_code'" [placeholder]="'Select Taluka'" required
                            (selectionChange)="getVillageList($event.value)">
                            <mat-option *ngFor="let taluka of talukaData" [value]="taluka.code">
                              {{taluka.name_en}} ({{taluka.name_mr}})</mat-option>
                          </mat-select>
                          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'">
                          </mat-icon>
                        </mat-form-field>
                      </div>


                      <div class="col-span-1 flex flex-col items-left justify-left">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                          <mat-label> Village/Sector</mat-label>
                          <mat-select [formControlName]="'village_code'" [placeholder]="'Select Village'" required
                            (selectionChange)="getGPSCList($event.value)">
                            <mat-option *ngFor="let village of villageData" [value]="village.code">
                              {{village.name_en}} ({{village.name_mr}})</mat-option>
                          </mat-select>
                          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'">
                          </mat-icon>
                        </mat-form-field>
                      </div>


                      <div class="col-span-1 flex flex-col items-left justify-left">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                          <mat-label>Gat/Plot/CTS/Survey Number </mat-label>
                          <mat-select [formControlName]="'gpsc_code'" [(ngModel)]="selectedGpsc"
                            [placeholder]="'Select Gat/Plot/CTS/Survey Number'" required
                            (selectionChange)="getSchemesList($event.value)">
                            <mat-option *ngFor="let opt of gpscData" [value]="opt.code">
                              {{opt.gpsc_number}} </mat-option>
                          </mat-select>
                          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'">
                          </mat-icon>
                        </mat-form-field>
                      </div>

                      <ng-container *ngIf="((plotData | async).is_developed==1 && selectedGpsc)">
                        <div class="col-span-1 flex flex-col items-left justify-left">
                          <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label> Scheme Number</mat-label>
                            <mat-select [formControlName]="'scheme_code'" [placeholder]="'Select Scheme Number '"
                              required (selectionChange)="getSchemesStructureList($event.value)">
                              <mat-option *ngFor="let opt of schemesData" [value]="opt.code">
                                {{opt.scheme_number}} </mat-option>
                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'">
                            </mat-icon>
                          </mat-form-field>
                        </div>

                        <div class="col-span-1 flex flex-col items-left justify-left">
                          <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>Scheme Structure Type </mat-label>
                            <mat-select [formControlName]="'structure_code'" [placeholder]="'Select Structure Type '"
                              required (selectionChange)="getSocietyList($event.value)">
                              <mat-option *ngFor="let opt of schemeStructureData" [value]="opt.structure_code">
                                {{opt.structure_type_name_en}} ({{opt.structure_type_name_mr}})</mat-option>
                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'">
                            </mat-icon>
                          </mat-form-field>
                        </div>


                        <div class="col-span-1 flex flex-col items-left justify-left">
                          <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>Society Name </mat-label>
                            <mat-select [formControlName]="'society_code'" [placeholder]="'Select Society Name'"
                              required (selectionChange)="getBuildingList($event.value)">
                              <mat-option *ngFor="let opt of societyData" [value]="opt.code">
                                {{opt.name_en}} ({{opt.name_mr}})</mat-option>
                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'">
                            </mat-icon>
                          </mat-form-field>
                        </div>
                        <div class="col-span-1 flex flex-col items-left justify-left">
                          <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label> Building Number</mat-label>
                            <mat-select [formControlName]="'building_code'" [placeholder]="'Select Building Number'"
                              required (selectionChange)="getSadnikaList($event.value)">
                              <mat-option *ngFor="let opt of buildingData" [value]="opt.code">
                                {{opt.building_number}}</mat-option>
                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'">
                            </mat-icon>
                          </mat-form-field>
                        </div>
                        <div class="col-span-1 flex flex-col items-left justify-left">
                          <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label> Sadnika/Dukan Number</mat-label>
                            <mat-select [formControlName]="'sadnika_code'" [(ngModel)]="isSadnikaSelected" [placeholder]="'Select Sadnika/Dukan Number'"
                              required>
                              <mat-option *ngFor="let sadnika of sadnikaData" [value]="sadnika.code">
                                {{sadnika.type_of_property==1?'Flat':'Shop'}} - {{sadnika.sadnika_number}}</mat-option>
                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'">
                            </mat-icon>
                          </mat-form-field>
                        </div>
                      </ng-container>
<!-- {{((plotData | async).is_developed)}} ==={{isSadnikaSelected}} -->
                      <div class="col-span-4 flex ">
                        <button class="px-8" mat-flat-button [color]="'primary'" type="button"
                          [disabled]="((plotData | async).is_developed!=0) && !isSadnikaSelected" (click)="getSearchDetails()">
                          Search
                        </button>
                      </div>

                    </div>
                  </form>
                </mat-expansion-panel>
                <mat-expansion-panel style="background: #bac0d0 !important;">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Search By Property Owner Name/Number
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                    <form [formGroup]="searchByOwnerForm">

                      <mat-label>Enter Owner Name or Number</mat-label>

                      <mat-form-field class="flex-auto gt-xs:pr-3">
                        <input matInput [formControlName]="'owner'" placeholder="Enter Owner Name/Number" #input>
                      </mat-form-field>

                      <button class="px-6" mat-flat-button [color]="'primary'" type="button" >
                        Search
                      </button>
                    </form>
                  </div>

                  <!-- <div class="flex-auto grid grid-cols-4 gap-4 mt-6">

                    <mat-label>Search By Owner Number</mat-label>

                    <mat-form-field class="flex-auto gt-xs:pr-3">
                      <input matInput placeholder="Search By Property Owner Number" #input>
                    </mat-form-field>

                    <button class="px-6" mat-flat-button [color]="'primary'" type="button">
                      Search
                    </button>
                  </div> -->

                </mat-expansion-panel>
              </mat-accordion>
            </div>

            <!-- <div class="mt-2 mb-2">
              <mat-accordion class="example-headers-align">
                
              </mat-accordion>
            </div> -->
          </div>
          <div style="overflow: auto;">
            <table mat-table *ngIf="isData$ | async" [dataSource]="dataSource" class="mat-elevation-z8 mt-3" matSort>
              <div class="mt-4 mb-4 "></div>

              <!-- <ng-container matColumnDef="taluka_code">
                <th mat-header-cell *matHeaderCellDef>Taluka code</th>
                <td mat-cell *matCellDef="let element"> {{element.taluka_code}} </td>
              </ng-container>

              <ng-container matColumnDef="taluka">
                <th mat-header-cell *matHeaderCellDef>Taluka </th>
                <td mat-cell *matCellDef="let element"> {{element.taluka_name_en}} ({{element.taluka_name_mr}}) </td>
              </ng-container>


              <ng-container matColumnDef="village_code">
                <th mat-header-cell *matHeaderCellDef>Sector/Village code</th>
                <td mat-cell *matCellDef="let element"> {{element.village_code}} </td>
              </ng-container>

              <ng-container matColumnDef="village">
                <th mat-header-cell *matHeaderCellDef>Sector/Village </th>
                <td mat-cell *matCellDef="let element"> {{element.village_name_en}} ({{element.village_name_mr}}) </td>
              </ng-container>

              <ng-container matColumnDef="gpsc_code">
                <th mat-header-cell *matHeaderCellDef>Gat/Plot/CTS/Survey</th>
                <td mat-cell *matCellDef="let element"> {{element.gpsc_code}} </td>
              </ng-container>


              <ng-container matColumnDef="scheme_code">
                <th mat-header-cell *matHeaderCellDef>Scheme</th>
                <td mat-cell *matCellDef="let element"> {{element.scheme_code}} </td>
              </ng-container> -->



              <!-- <ng-container matColumnDef="structure_type">
                <th mat-header-cell *matHeaderCellDef>Structure Type </th>
                <td mat-cell *matCellDef="let element"> {{element.structure_type_name_en}}
                  ({{element.structure_type_name_mr}}) </td>
              </ng-container> -->


              <!-- <ng-container matColumnDef="society_name">
                <th mat-header-cell *matHeaderCellDef>Society Name </th>
                <td mat-cell *matCellDef="let element"> {{element.society_name_en}} ({{element.society_name_mr}}) </td>
              </ng-container> -->

              <!-- <ng-container matColumnDef="building_code">
              <th mat-header-cell *matHeaderCellDef>Building Number</th>
              <td mat-cell *matCellDef="let element"> {{element.building_code}} </td>
            </ng-container> -->

              <!-- <ng-container matColumnDef="sadnika_code">
              <th mat-header-cell *matHeaderCellDef> Sadnika Number </th>
              <td mat-cell *matCellDef="let element"> {{element.sadnika_code}} </td>
            </ng-container> -->

              <ng-container matColumnDef="property_area">
                <th mat-header-cell *matHeaderCellDef> Property Area </th>
                <td mat-cell *matCellDef="let element"> {{element.property_area}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="special_land_acquition_officer_number">
                <th mat-header-cell *matHeaderCellDef> Special Land Acquition Officer Number </th>
                <td mat-cell *matCellDef="let element"> {{element.special_land_acquition_officer_number}} </td>
              </ng-container> -->

              <ng-container matColumnDef="award_number">
                <th mat-header-cell *matHeaderCellDef> Award number </th>
                <td mat-cell *matCellDef="let element"> {{element.award_number}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="award_date">
                <th mat-header-cell *matHeaderCellDef> Award Date </th>
                <td mat-cell *matCellDef="let element"> {{element.award_date}} </td>
              </ng-container>

              <ng-container matColumnDef="award_land_possession_date">
                <th mat-header-cell *matHeaderCellDef> Award Land Possession Date </th>
                <td mat-cell *matCellDef="let element"> {{element.award_land_possession_date}} </td>
              </ng-container> -->

              <!-- <ng-container matColumnDef="leasedeed_registration_number_haveli_number">
                <th mat-header-cell *matHeaderCellDef> Leasedeed Registration Number Haveli Number </th>
                <td mat-cell *matCellDef="let element"> {{element.leasedeed_registration_number_haveli_number}} </td>
              </ng-container> -->

              <ng-container matColumnDef="leasedeed_registration_date">
                <th mat-header-cell *matHeaderCellDef> Leasedeed Registration date </th>
                <td mat-cell *matCellDef="let element"> {{element.leasedeed_registration_date}} </td>
              </ng-container>

              <ng-container matColumnDef="original_plot_holder">
                <th mat-header-cell *matHeaderCellDef> Original Plot Holder </th>
                <td mat-cell *matCellDef="let element"> {{element.original_plot_holder}} </td>
              </ng-container>

              <ng-container matColumnDef="shop_premium">
                <th mat-header-cell *matHeaderCellDef> Shop Premium </th>
                <td mat-cell *matCellDef="let element"> {{element.shop_premium}} </td>
              </ng-container>

              <ng-container matColumnDef="ready_reckoner_square_meter_rate">
                <th mat-header-cell *matHeaderCellDef> Ready Reckoner Square Meter Rate </th>
                <td mat-cell *matCellDef="let element"> {{element.ready_reckoner_square_meter_rate}} </td>
              </ng-container>

              <ng-container matColumnDef="building_permission_number">
                <th mat-header-cell *matHeaderCellDef> building Permission Number </th>
                <td mat-cell *matCellDef="let element"> {{element.building_permission_number}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="building_permission_date">
                <th mat-header-cell *matHeaderCellDef> building Permission Date </th>
                <td mat-cell *matCellDef="let element"> {{element.building_permission_date}} </td>
              </ng-container> -->

              <ng-container matColumnDef="completion_certificate_number">
                <th mat-header-cell *matHeaderCellDef> Completion Certificate Number </th>
                <td mat-cell *matCellDef="let element"> {{element.completion_certificate_number}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="completion_date">
                <th mat-header-cell *matHeaderCellDef> Completion Date </th>
                <td mat-cell *matCellDef="let element"> {{element.completion_date}} </td>
              </ng-container> -->

              <!-- Action Column-->

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button class="iconbutton" [routerLink]="['/admin/property-owner/list/', row.code]">
                    <mat-icon>person_add</mat-icon>
                  </button>
                  <button mat-icon-button class="iconbutton" (click)="openComposeDialogView(row.code)">
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button mat-icon-button class="iconbutton" [routerLink]="['/admin/properties/edit', row.code]">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button class="iconbutton" (click)="openComposeDialogDelete(row.code)" color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <mat-paginator *ngIf="isData" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>

          <div class="mt-2 mb-2 "></div>
        </div>
      </div>
    </div>
  </div>
</div>