<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Property Transfer Application </h2>
            </div>    
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                <div class="relative flex flex-col flex-auto bg-card rounded-2xl shadow overflow-hidden">   
                    <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                        <div class="timeline-step timeline-step-done">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                                
                                <p class="h6 mt-3 mt-lg-3 mb-3 mb-lg-3">Select Property</p>
                            </div>
                        </div>
                        <div class="timeline-step timeline-step-done">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                                
                                <p class="h6 mt-3 mt-lg-3 mb-3 mb-lg-3">Application</p>
                            </div>
                        </div>
                        <div class="timeline-step timeline-step-done">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2005">
                                
                                <p class="h6 mt-3 mt-lg-3 mb-3 mb-lg-3">Payment</p>
                            </div>
                        </div>
                        <div class="timeline-step timeline-step-done">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2010">
                               
                                <p class="h6 mt-3 mt-lg-3 mb-3 mb-lg-3">Reciept</p>
                            </div>
                        </div>
                        <div class="timeline-step timeline-step-active mb-0">
                            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                                
                                <p class="h6 mt-3 mt-lg-3 mb-3 mb-lg-3">Status</p>
                            </div>
                        </div>
                    </div>
                    <div style="border: 3px solid #ad2331;padding:10px;">
                        <div class="flex flex-col gt-xs:flex-row center">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                            <!-- <mat-icon
                                    class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                                    [svgIcon]="'heroicons_outline:check-circle'"></mat-icon> -->
                            <div class="absolute  right-0 w-24 h-24 -m-6">
                                
                                <mat-icon
                                    class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                                    [svgIcon]="'heroicons_outline:check-circle'">
                                </mat-icon>
                            </div> 
                            
                                <p class="text-xl font-semibold tracking-tight leading-8 truncate">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    Thank you!
                                </p>
                                <p class="my-6 font-medium">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    Your Request for Appointment for document verification is processed successfully d for Monday, 01 May 2023.. 

                                </p>

                                <p class="my-6 font-medium">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    We will notify you about confirmation of appointment.
                                </p>
                
                                <!-- <div class="mt-4 mb-4 "></div>-->
                                <div class="flex ">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button
                                        class="px-8"
                                        mat-flat-button
                                        [color]="'primary'"
                                        type="button"
                                        [routerLink]="['/citizens/transfer-applications']"
                                        >
                                        Ok
                                    </button>
                                </div>

                                <div class="mt-4 mb-4 "></div>

                
                <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
