<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

  
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">View Draft Details</div>
       <div>
        
       </div>
    </div>
    <div>
    <html>
<body>
 
<form style="padding: 20px;">
  <label for="fname">Application StarDate : 3-10-2022 </label><br><br>
  
  <label for="fname">Property Owner : Yash</label><br><br>
  
  <label for="fname">Taluka : Pachwad</label><br><br>
  
  <label for="fname">Sector : First</label><br><br>

  <label for="fname">Grahyonana : ASD</label><br><br>

  <label for="fname">building : Sai sadan</label><br><br>

  <label for="fname">sadnika : ASS</label><br><br>
  
</form>

</body>
</html>
    </div>
    
  </div>
  

  <!-- <div class="clearfix">
    <div class="modal-header model-grey-color">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelModal()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">View : {{employee.employee_name}}</h4>
    </div>
    <div class="modal-body">
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{employee.employee_name}}</dd>
        <dt>Age</dt>
        <dd>{{employee.employee_age}}</dd>
        <dt>Salary</dt>
        <dd>{{employee.employee_salary}}</dd>
      </dl>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" ng-click="cancelModal()"><i class="fa fa-close"></i> Close</button>
    </div>
  </div> -->